<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM_discs available</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
    <section class="content container">
        <table class="table table-striped table-bordered table-responsive text-center">
            <thead class="thead-dark">
                <tr class="">
                    <th class="col-1">Disc</th>
                    <th class="col">Size</th>
                    <th class="col">Mountpoint</th>
                    <th class="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for disc in clear_discs %}
                    <tr class="">
                        <td class="col-1">{{ disc.name }}</td>
                        <td class="col">{{ disc.size }}</td>
                        <td class="col">{{ disc.mountpoint }}</td>
                        <td class="col">
                            <button class="btn btn-secondary btn-sm btn-block">Edit</button>
                            <button class="btn btn-secondary btn-sm btn-block">Format</button>
                            <button class="btn btn-secondary btn-sm btn-block">Mount</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>